.App {
  text-align: center;
  font: 20px montserrat, sans-serif;
}

html {
  background: url(./background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

.sidebar {
    position: absolute;
    top: 105px;
    left: 10px;
    justify-content: left;
}

.button-side {
    font: 15px montserrat, sans-serif;
    margin: 4px;
    padding: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background: rgb(255,255,255);   /* dark green */
    color: rgb(0,100,0);  /* light green */
    border-radius: 5px;  /* curved edges */
    cursor: pointer; /* "hand" cursor */
}

.container {
    justify-content: center;
    padding: 5.7vw;
    margin: 8.6vw;
    border-radius: 20px;
    background: rgb(255,255,255);
    border: 4px solid rgb(0,100,0);
    position: relative;
}

.button {
    font: 20px montserrat, sans-serif;
    margin: 4px;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background: rgb(0,100,0);   /* dark green */
    color: rgb(144, 238, 144);  /* light green */
    border-radius: 10px;  /* curved edges */
    cursor: pointer; /* "hand" cursor */
}

.button-alt {
    font: 15px montserrat, sans-serif;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: rgb(144, 238, 144);  /* light green */
    color: rgb(0,100,0);   /* dark green */
    border-radius: 10px;  /* curved edges */
    cursor: pointer; /* "hand" cursor */
}

.description {
    margin: 5px;
}

.big-text {
    font: 30px bold;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font: 20px montserrat, sans-serif;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: rgb(0,100,0);   /* dark green */
    color: rgb(144, 238, 144);
    border-radius: 10px;  /* curved edges */
    cursor: pointer; /* "hand" cursor */
}

.inputNum {
    font: 15px montserrat, sans-serif;
    padding: 10px;
    border-radius: 5px;
    position: bottom;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor:pointer;
  display:block;
  width:8px;
  color: #333;
  text-align:center;
  position:relative;
}

input[type=number]:hover::-webkit-inner-spin-button {
  background: #eee url('http://i.stack.imgur.com/YYySO.png') no-repeat 50% 50%;
  width: 14px;
  height: 14px;
  padding: 4px;
  position: relative;
  right: 4px;
  border-radius: 28px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  table-layout: fixed;
  display: block;
  width: 100%;
  height: 75%;
}

.App-row {
  display: block;
  width: 100%;
  vertical-align: inherit;
}

.App-Map {
  color: blue;
  width: 50vw;
}

.App-CSV-Upload {
  color: blue;
  width: 50vw;
  position: relative;
}

.App-Sides {
  width: 50vw;
  vertical-align: top;
}

.Button-Container {
  padding: 15px;
}

#mapBox div:first-child {
  position: relative !important;
}

.App-CSV-Upload {
  color: blue;
  width: 50vw;
  position: relative;
}

.App-Sides {
  width: 50vw;
  vertical-align: top;
}

.Button-Container {
  padding: 15px;
}

#mapBox div:first-child {
  position: relative !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
